*.rb
*.scss
.DS_Store
.dart_tool/
.env
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.vscode/
build/
build/**
*.log
**/*.log
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/ephemeral
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets/kernel_blob.bin
ios/Runner/Assets.xcassets/
ios/Runner/Runner.entitlements
linux/flutter/ephemeral
pubspec.lock
testkey.jks
windows/flutter/ephemeral
normalize_samples.sh